@import "tailwindcss";

@font-face {
  font-family: 'comfortaa';
  src: url('./assets/Comfortaa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-comfortaa: "comfortaa", sans-serif; 
}
